@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: white;
}
body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.wallet-adapter-button-trigger {
  background: rgb(230, 26, 26) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}
